In [4]:
import numpy as np

import pandas as pd
dataset=pd.read_csv("car.csv")
dataset.head()

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [5]:
dataset.describe()

       vhigh vhigh.1     2   2.1 small   low  unacc
count   1727    1727  1727  1727  1727  1727   1727
unique     4       4     4     3     3     3      4
top     high    high     3     4   med   med  unacc
freq     432     432   432   576   576   576   1209

In [64]:

print(X_train)

[['med' 'high' '4' '2' 'big' 'high']
 ['vhigh' 'med' '2' '4' 'small' 'med']
 ['low' 'low' '4' '4' 'small' 'low']
 ...
 ['med' 'high' '3' 'more' 'small' 'med']
 ['med' 'high' '3' '2' 'med' 'high']
 ['vhigh' 'high' '2' '4' 'med' 'low']]

In [63]:
print(X_test)

[['med' 'med' '3' '2' 'med' 'med']
 ['high' 'low' '5more' '4' 'med' 'low']
 ['low' 'low' '4' 'more' 'big' 'high']
 ...
 ['high' 'low' '2' '2' 'big' 'med']
 ['vhigh' 'med' '3' '2' 'small' 'med']
 ['med' 'vhigh' '2' '2' 'big' 'high']]

In [43]:
print(y_train)

['big' 'small' 'small' ... 'small' 'med' 'med']

In [44]:
print(y_test)

['med' 'med' 'big' 'med' 'small' 'big' 'med' 'med' 'big' 'med' 'small'
 'med' 'small' 'big' 'big' 'small' 'small' 'big' 'small' 'big' 'big' 'med'
 'med' 'small' 'med' 'big' 'big' 'med' 'med' 'small' 'small' 'small' 'med'
 'small' 'small' 'med' 'med' 'med' 'med' 'small' 'med' 'big' 'med' 'med'
 'med' 'big' 'med' 'small' 'med' 'med' 'med' 'big' 'big' 'small' 'big'
 'med' 'med' 'small' 'small' 'big' 'med' 'med' 'big' 'small' 'med' 'med'
 'med' 'big' 'med' 'med' 'big' 'big' 'small' 'big' 'big' 'med' 'big'
 'small' 'small' 'med' 'small' 'small' 'med' 'small' 'med' 'small' 'small'
 'med' 'small' 'big' 'big' 'big' 'small' 'small' 'small' 'small' 'small'
 'big' 'med' 'big' 'med' 'small' 'big' 'med' 'small' 'med' 'big' 'med'
 'med' 'big' 'small' 'small' 'small' 'med' 'small' 'med' 'big' 'small'
 'med' 'med' 'big' 'med' 'med' 'big' 'med' 'small' 'big' 'med' 'big' 'big'
 'big' 'small' 'big' 'med' 'med' 'small' 'med' 'small' 'med' 'med' 'med'
 'big' 'small' 'big' 'med' 'big' 'big' 'big' 'big' 'small' 'big' 'big'
 'big' 'small' 'big' 'big' 'small' 'med' 'big' 'big' 'small' 'small'
 'small' 'med' 'med' 'med' 'small' 'med' 'med' 'big' 'big' 'med' 'small'
 'small' 'big' 'small' 'small' 'big' 'big' 'med' 'big' 'small' 'med'
 'small' 'small' 'med' 'med' 'small' 'med' 'med' 'small' 'med' 'med' 'big'
 'med' 'med' 'small' 'small' 'med' 'big' 'med' 'big' 'small' 'big' 'small'
 'small' 'small' 'small' 'med' 'big' 'med' 'big' 'med' 'big' 'big' 'small'
 'med' 'med' 'med' 'small' 'big' 'med' 'big' 'big' 'big' 'med' 'med'
 'small' 'big' 'small' 'med' 'big' 'med' 'big' 'big' 'small' 'big' 'big'
 'med' 'small' 'small' 'small' 'med' 'med' 'med' 'small' 'small' 'big'
 'small' 'med' 'big' 'big' 'med' 'small' 'small' 'small' 'small' 'small'
 'med' 'med' 'big' 'small' 'med' 'small' 'med' 'small' 'med' 'med' 'big'
 'big' 'big' 'small' 'small' 'big' 'med' 'small' 'med' 'small' 'big' 'big'
 'big' 'small' 'med' 'med' 'big' 'small' 'small' 'med' 'med' 'med' 'big'
 'small' 'big' 'big' 'med' 'small' 'small' 'big' 'small' 'small' 'small'
 'med' 'big' 'big' 'med' 'small' 'med' 'small' 'big' 'big' 'med' 'small'
 'big' 'small' 'med' 'big' 'big' 'med' 'big' 'big' 'small' 'med' 'small'
 'med' 'big' 'big' 'med' 'small' 'med' 'small' 'med' 'big' 'big' 'med'
 'med' 'big' 'med' 'big' 'small' 'med' 'small' 'med' 'med' 'big' 'small'
 'big']

ModuleNotFoundError: No module named 'sklearn.model'